<tr><td>
    <div class="play-area">
        <% /* Player gets inserted here. */ %>
        <a class="btn btn-success play-btn">Play</a>
        <% /* <a class="btn btn-success play-btn">Play Full Interview</a> */ %>
    </div>
    <% /* TODO: perserve other filter params? */ %>
    <dl class="dl-horizontal">
        <dt>page:</dt>
        <dd>
            <a href="#filter?page=<%= page %>"><%= page %></a>
        </dd>
        <dt>session:</dt>
        <dd>
            <a href="boilerplate/player.html#session?id=<%= _sessionId %>"><%= _sessionId %></a>
        </dd>
        <dt>duration:</dt>
        <dd>
            <%= _duration %>
        </dd>
    </dl>
</td></tr>