<tr><td>
    <div class="play-area">
        <% /* Player gets inserted here. */ %>
        <a class="btn btn-success play-btn">Play</a>
        <% /* <a class="btn btn-success play-btn">Play Full Interview</a> */ %>
    </div>
    <% /* TODO: perserve other filter params? */ %>
    <dl class="dl-horizontal">
        <dt>page:</dt>
        <dd>
            <a href="#?page=<%= data.page %>"><%= data.page %></a>
        </dd>
        <dt>session:</dt>
        <dd>
            <a href="player.html#session?id=<%= data._sessionId %>"><%= data._sessionId %></a>
        </dd>
        <dt>duration:</dt>
        <dd>
            <%= _.formatTime(data._duration || 0) %>
        </dd>
    </dl>
</td></tr>