<% if(qp.justRead){ %>
<p style="max-width:500px;">
You stand before the bookshelves.
</p>
<% } else { %>
<p style="max-width:500px;">
You approach the grided walls of books, stepping over a bulb that casts your shadows dimly across the close ceiling.
You wonder what gems of enlightenment could be entombed behind the rows and columns of identical spines.
</p>
<% } %>
<div class="nav">
    <ul class="navlist">
        <li><a href="#readBook.html">Read a book.</a></li>
        <li><a href="#hallway.html">Go back to the hallway.</a></li>
        <li><a href="#stairs.html">Take the stairs.</a></li>
    </ul>
</div>