<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns = "http://www.w3.org/ns/widgets"
    xmlns:gap = "http://phonegap.com/ns/1.0"
    id        = "com.phonegap.interview"
    version   = "0.5.1">

    <name>Interview</name>

    <description>
        App for guiding and recording interviews.
    </description>

    <author>
        Nathan Breit
    </author>

    <icon src="boilerplate/cassette.png" />
    
    <gap:plugin name="ChildBrowser" />
</widget>