.controls {
    margin: 5px;
    margin-top:0;
    border-bottom: 4px dashed lightgray;
}
.control {
    margin-top: 5px;
    margin-left: 0; 
    width:40%;
    display: inline-block;
}
#start {
    margin-right: 4px;
}
#time {
    width: 245px;
}
/* Hacks below here: */
.alert {
    margin-bottom:0;
}
#container {
    margin-left: 5px;
}