<div class="navbar navbar-static-top" style="position:relative">
    <div class="navbar-inner">
        <ul class="nav">
            <% if(recorder.hasStarted()){ %>
            <!--
            <li class="active">
                <form class="navbar-form">
                    <div class="input-prepend" id="time-container">
                        <span class="add-on">time:</span>
                        <span class="uneditable-input" id="time">
                            <%- _.formatTime(recorder.getDuration()) %>
                        </span>
                    </div>
                </form>
            </li>
            
            <li class="divider-vertical"></li>
            -->
            <li>
                <form class="navbar-form">
                    <% if(recorder.paused){ %>
                        <a class="btn resumeRecording"><i class="icon-circle-arrow-right"></i> Resume</a>
                        <span id="time" class="nav_record_timer"><%- _.formatTime(recorder.getDuration()) %></span>
                        <span id="time_status">Recording.....</span>
                    <% } else { %>
                        <a class="btn btn-warning pauseRecording"><i class="icon-pause"></i> Pause</a>
                        <span id="time" class="nav_record_timer"><%- _.formatTime(recorder.getDuration()) %></span>
                        <span id="time_status">Recording.....</span>
                    <% } %>
                </form>
            </li>

            <!--
            <div class="nav_record_status">
                <% if(recorder.paused){ %>
                    <img class="nav_button_button resumeRecording" src="http://cdn1.iconfinder.com/data/icons/Primo_Icons/PNG/48x48/button_blue_play.png">
                    <span id="time" class="nav_record_timer"><%- _.formatTime(recorder.getDuration()) %></span>
                    <span id="time_status">Paused.....</span>
                <% } else { %>
                    <img class="nav_button_button pauseRecording" src="http://cdn1.iconfinder.com/data/icons/Primo_Icons/PNG/48x48/button_blue_pause.png">
                    <span id="time" class="nav_record_timer"><%- _.formatTime(recorder.getDuration()) %></span>
                    <span id="time_status">Recording.....</span>
                <% } %>
            </div>
            -->
            <% } %>
        </ul>
        <a id="stop" class="nav_header_quit btn btn-danger"><i class="icon-remove-sign"></i> End Interview</a>
    </div>
</div>
<div id="alert-area">
<% if("warning" in recorder){ %>
    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Warning!</h4>
        <%- recorder.warning %>
    </div>
<% } %>
<% if("error" in recorder){ %>
    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Error!</h4>
        <%- recorder.error %>
    </div>
<% } %>
</div>
<% if(recorder.paused){ %>
    <h3>Session paused</h3>
<% } else { %>
    <div id="pagecontainer"></div>
<% } %>
