<div class="navbar navbar-static-top">
    <div>
        <span class="nav_header">
            <a id="stop">
                <img class="nav_header_quit" src="http://cdn1.iconfinder.com/data/icons/super-mono-reflection/blue/button-cross_blue.png">
            </a>
        </span>
    </div>
    <div class="navbar-inner">
        <ul class="nav">
            <!--
            <li class="active">
                <form class="navbar-form">
                    <div class="input-prepend" id="time-container">
                        <span class="add-on">time:</span>
                        <span class="uneditable-input" id="time">
                            <%- _.formatTime(recorder.getDuration()) %>
                        </span>
                    </div>
                </form>
            </li>
            <li class="divider-vertical"></li>
            
            <li>
                <form class="navbar-form">
                    <a id="stop" class="btn btn-danger">Stop</a>
                    <% if(recorder.paused){ %>
                        <a class="btn btn-warning resumeRecording">Resume</a>
                    <% } else { %>
                        <a class="btn btn-warning pauseRecording">Pause</a>
                    <% } %>
                </form>
            </li>
            -->
            <% if(recorder.hasStarted()){ %>
                <div class="nav_record_status">
                    <% if(recorder.paused){ %>
                        <img class="nav_button_button resumeRecording" src="http://cdn1.iconfinder.com/data/icons/Primo_Icons/PNG/48x48/button_blue_play.png">
                        <span id="time" class="nav_record_timer"><%- _.formatTime(recorder.getDuration()) %></span>
                        <span id="time_status">Paused.....</span>
                    <% } else { %>
                        <img class="nav_button_button pauseRecording" src="http://cdn1.iconfinder.com/data/icons/Primo_Icons/PNG/48x48/button_blue_pause.png">
                        <span id="time" class="nav_record_timer"><%- _.formatTime(recorder.getDuration()) %></span>
                        <span id="time_status">Recording.....</span>
                    <% } %>
                </div>
            <% } %>
        </ul>
    </div>
</div>
<div id="alert-area">
<% if("warning" in recorder){ %>
    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Warning!</h4>
        <%- recorder.warning %>
    </div>
<% } %>
<% if("error" in recorder){ %>
    <div class="alert alert-block">
        <button type="button" class="close" data-dismiss="alert">×</button>
        <h4>Error!</h4>
        <%- recorder.error %>
    </div>
<% } %>
</div>
<% if(recorder.paused){ %>
    Session paused
<% } else { %>
    <div id="pagecontainer"></div>
<% } %>
