<div class="container" style="margin-top: 1em;">
        <div>
            <p class="lead">
                <%-  currentQuestion.label %>
            </p>
            
            <ul class="nav nav-pills">
            <% _.forEach(_.filter(currentQuestion.__tags, function(tag){ return ("icon" in tag) }), function(tag) { %>
                <li>
                    <a class="btn add-tag" data-tag="<%- tag.name %>">
                        <% if("imagePath" in tag) { %>
                            <img src="<%- formDir %><%- tag.imagePath %>"></img>
                        <% } %>
                          <% if("icon" in tag) { %>
                                <i class="icon-<%- tag.icon %>"
                                    <% if("iconColor" in tag) { %>
                                        style="color:<%- tag.iconColor %>;"
                                    <% } %>
                                >
                                </i>
                            <% } %>
                            
                            <% if("label" in tag) { %>
                                <%- tag.label %>
                            <% } %>
                        
                    </a>
                </li>
            <% }); %>
            </ul>
            
            <% if(_.filter(currentQuestion.__tags, function(tag){ return !("icon" in tag) }).length > 0 ) { %>
            <div class="btn-group dropup" id="tag_btn">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown"
                    onclick="$('#tag_btn').toggleClass('open');">
                <i class="icon-tags icon-white"></i> More Tags
                <span class="caret"></span>
                </a>
                <ul class="dropdown-menu pull-right">
                <% _.forEach(_.filter(currentQuestion.__tags, function(tag){ return !("icon" in tag) }), function(tag) { %>
                    <li>
                        <a class="add-tag" data-tag="<%- tag.name %>">
                            <% if("imagePath" in tag) { %>
                                <img src="<%- formDir %><%- tag.imagePath %>"></img>
                            <% } %>
                            
                            <% if("label" in tag) { %>
                                <%- tag.label %>
                            <% } %>
                            
                        </a>
                    </li>
                <% }); %>
                </ul>
            </div>
            <% } %>
            <div style="clear:both;"></div>
        </div>

        <div class="offset3 span6">
            <% if(currentQuestion.__branches.length > 0) { %>
                <div class="btn btn-block btn-primary btn-large">
                    Next <i class="icon-circle-arrow-right" ></i>
                </div>
                <div class="btn-group dropup open" style="top:50px;left:50px">
                    <ul class="dropdown-menu">
                    <% _.forEach(currentQuestion.__branches, function(branch) { %>
                    
                        <% if(branch.__nextQuestions.length > 0) { %>
                           <li class="dropdown-submenu">
                                <a href="#json/<%- branch.__nextQuestions[0].name  %>">
                                 <%- branch.label %>
                                </a>
                            </li>
                        <% } else { %>
                        <li class="dropdown-submenu">
                            <a href="#interviewEnd">
                                <%- branch.label %>
                            </a></li>
                        <% } %>
                    
                    <% }); %>
                    </ul>
                </div>
            <% } else if(currentQuestion.__nextQuestions.length > 0) { %>
                    <a  class="btn btn-block btn-success btn-large" href="#json/<%- currentQuestion.__nextQuestions[0].name %>">
                        Next <i class="icon-circle-arrow-right"></i>
                    </a>
            <% } else  { %>
                <a class="btn btn-block btn-danger btn-large" href="#interviewEnd">
                     End Interview <i class="icon-caret-right"></i>
                </a>
            <% } %>
            </ul>
        </div>
    </div>

