<div class="navbar navbar-always-fixed">
    <div class="navbar-inner">
        <ul class="nav">
            <li>
                <a href="../index.html"><i class="icon-angle-left icon-large" style="font:26px;"></i>Choose Interview</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
<div class="hero-unit" style="cleat:both;">

    <p class="lead" style="font-variant:small-caps;text-align:center;font-weight:bold;font-size:27px;"><%- title %></p>
    <% if(stats) { %>
        <dl class="dl-horizontal">
            <dt>Conducted:</dt>
            <dd>
                <%- stats.numInterviews %>
            </dd>
            <dt>Average Duration:</dt>
            <dd>
                <%- _.formatTime( stats.averageDuration ) %>
            </dd>
            <dt>Last Interview:</dt>
            <dd>
                <%- stats.lastDate %>
            </dd>
        </dl>
    <% } else { %>
        <p>Stats loading...</p>
    <% } %>
    <p>
        <a class="btn btn-success btn-large btn-block" href="#beginSession">
            Start New Interview
        </a>
    </p>
    <p>
        <a class="btn btn-primary btn-large btn-block" href="#sessions">
            Previous Interviews
        </a>
    </p>
    <p>
        <a class="btn btn-primary btn-large btn-block" href="#explorer">
            Explore Data
        </a>
    </p>
    <!--
    <% if(!("cordova" in window)){ %>
        <p>
            <a class="btn btn-primary btn-large btn-block" href="#explorer">
                Explore Data
            </a>
        </p>
        <p>
            <a class="btn btn-primary btn-large btn-block" href="synchronize.html">
                Synchronize with Dropbox
            </a>
        </p>
        <p>
            <a class="btn btn-primary btn-large btn-block" href="#sandbox">
                Sandbox
            </a>
        </p>
    <% } %>-->
</div>
</div>