<div class="navbar navbar-always-fixed">
    <div class="navbar-inner">
        <ul class="nav">
            <li>
                <a href="../index.html">Choose Interview</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
<div style="float:left; height:50%"></div>
<div class="hero-unit" style="cleat:both;">
    <h2><%- title %></h2>
    <p>
        <a class="btn btn-success btn-large btn-block" href="#beginSession">
            Start New Interview
        </a>
    </p>
    <p>
        <a class="btn btn-primary btn-large btn-block" href="#sessions">
            Previous Interviews
        </a>
    </p>
    <p>
        <a class="btn btn-primary btn-large btn-block" href="#explorer">
            Explore Data
        </a>
    </p>
    <% if(!("cordova" in window)){ %>
        <p>
            <a class="btn btn-primary btn-large btn-block" href="synchronize.html">
                Synchronize with Dropbox
            </a>
        </p>
    <% } %>
      <p>
        <a class="btn btn-primary btn-large btn-block" href="#sandbox">
            Sandbox
        </a>
    </p>
</div>
</div>