<div class="navbar navbar-always-fixed">
    <div class="navbar-inner">
        <ul class="nav">
            <li class="path">
                <a href="#" style="float:left;"><span class="path_link">Home</span></a> 
                <span class="path_divider">/</span> 
                <span class="path_active">Previous Interviews</span>
            </li>
        </ul>
    </div>
</div>
<!--<div class="navbar navbar-always-fixed">
    <div class="navbar-inner">
        <ul class="nav">
            <ul class="breadcrumb" style="font-size:17px;">
                <li><a href="#">Home</a> <span class="divider">/</span></li>
                <li class="active">Interviews</li>
              <!--<li>
                <a href="#">Home</a>
              </li>--.>
            </ul>
        </ul>
    </div>
</div>-->
<div class="nav-spacer"></div>
<div class="container" style="margin-top: 1em;">
    <!--<p class="list_sort_text">Sort By: </p>
    <div class="btn-group" style="float:left;">
        <button class="btn btn-small">Name</button>
        <button class="btn btn-small">Date</button>
    </div>-->
        <table class="table table-bordered table-striped">
            <tbody id="result-list">
<% _.forEach(sessions, function(session) { %>
    
        <tr onclick="document.location = '#playSession?id=<%= session.id %>';">
            <!--<a href="#playSession?id=<%= session.id %>">-->
            <td style="display:block;">
                
                <dl class="dl-horizontal">
                    <% _.forEach(["health_center_name", "health_professional"], function(attribute) { %>
                        <% if(attribute in session) { %>
                            <dt><%= attribute %>:</dt>
                            <dd>
                                <%= session[attribute] %>&nbsp;
                            </dd>
                        <% } %>
                    <% }); %>
                    <dt>Start Time:</dt>
                    <dd>
                        <%= session.startTime %>
                    </dd>
                    <dt>Duration:</dt>
                    <dd>
                    <% if("endTime" in session) { %>
                        <%= _.formatTime( session.endTime - session.startTime ) %>
                    <% } else { %>
                        ?
                    <% } %>
                    </dd>
                </dl>
            </td>
            <!--</a>-->
        </tr>

<% }); %>
            </tbody>
        </table>
</div>