#controls {
    padding: 5px;
    border: 1px dotted lightgray;
    text-align: center;
}
.control {
    height: 40px;
    width: 100px;
    font-size: 2em;
}
#play {
    color: green;
}
#pause {
    color: red;
}
#seeker {
    margin-top: 5px;
    width: 100%;
    background-color: lightgray;
}
#progressBar {
    height: 40px;
    background-color: blue;
}
#progressBar.halted {
    background-color: red;
}
#logItemContainer {
    position: relative;
}

/*
I discovered this triangle creation technique from
http://apps.eky.hk/css-triangle-generator/
*/
.logItemMarker {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent transparent inherit;
    border-width: 40px 0 0 80px;
}
.logItemMarker:hover {
    border-color: transparent transparent transparent #007bff;
}
.logItemMarker.selected {
    border-color: transparent transparent transparent #007bff;
    z-index: 10;
}
#logItemInfo {
    padding: 5px;
    margin-top: 40px;
    border-top: 2px solid #007bff;
}
.logItemBtn {
    height: 40px;
}