<% if(playing) { %>
<div class="btn-player btn-player-large" id="pause"><i class="icon-pause"></i></div>
<% } else { %>
<div class="btn-player btn-player-large" id="play"><i class="icon-play"></i></div>
<% } %>

<div class="control-group">
    <span>Skip Back (sec)</span>
    <div data-offeset="-5" class="btn-player" data-offset="-5"><i class="step-backward" style="background-image:url('images/go-back-5.png')"></i></div>
    <div data-offeset="-15" class="btn-player " data-offset="-15"><i class="step-backward" style="background-image:url('images/go-back-15.png')"></i></div>
    <div data-offeset="-30" class="btn-player" data-offset="-30"><i class="step-backward" style="background-image:url('images/go-back-30.png')"></i></div>
</div>

<div class="control-group">
    <div class="btn-player" id="previous-marker"><i class="icon-fast-backward"></i></div>
    <div class="btn-player" id="next-marker"><i class="icon-fast-forward"></i></div>
</div>
