/*
CSS for player
*/
.player .progress {
    overflow:visible;
    position:relative;
    margin:20px 0px 0px 0px;
    height: 3em;
}
.player .handle {
	position:relative;
	background-color:#e5e5e5;
	background-image:linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	height:100%;
	width:10px;
	/* border-radius: 10px; */
	outline:solid 1px black;
    
} 
 
.player  ul.marks {
	position:relative;
	margin:0px;
	left:-5px;
	top:-20px;
}
 
.player  ul.marks li {
	display:inline;
	list-style-type:none;
	position:absolute;
	width:10px;
	height:10px;
	border-radius: 0px 0px 5px 5px / 0px 0px 10px 10px;
	top:-5px;
	border: solid 1px black;
	background-image:linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
}
 
.player  ul.marks li div {
	width:1px;
	background-color:black;
	height:15px;
	position:absolute;
	left:4px;
	top:10px;
}
 
.player .controls {
	text-align:center;
}
 
.player .time-display {
	position: absolute;
	display:inline-block;
	font-size:9pt;
	padding:0px;
	margin:0px;
	line-height:9pt;
	top:-12px;
}
 
.player #elapsed-time {
	left:5px;
}
 
.player #total-time {
	right:5px;
}
 
.player .controls .btn 
{
	font-size:9pt;
	line-height:0;
}
 
.player ul.tags {
	position:relative;
	margin-top:10px;
	z-index:-1;
}
 
.player ul.tags li {
	display:inline;
	list-style-type:none;
	position:absolute;
}
 
.player ul.tags li div{
	position:absolute;
	top:-10px;
	width:1px;
	background-color:black;
	height:10px;
}
/*
End CSS for player
*/


.logItemMarker {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent transparent inherit;
    border-width: 40px 0 0 80px;
}
.logItemMarker:hover {
    border-color: transparent transparent transparent #007bff;
}
.logItemMarker.selected {
    border-color: transparent transparent transparent #007bff;
    z-index: 10;
}
#logItemInfo {
    padding: 5px;
    margin-top: 40px;
    border-top: 2px solid #007bff;
}
.logItemBtn {
    height: 40px;
}