/*
CSS for player
*/

.player {
    text-align:center;
}

.player .player-controls {
	background-color:lightsteelblue;
    display:inline-block;
	border-radius: 4em 4em 0em 0em;
	font-size:20px;
	position:relative;
	padding:5px 10px 5px 10px;
	width:80%;
	border: 1px solid black;
	border-bottom:none;
	margin-top:10px;
}

.player .btn-player {
	font-size:1.75em;
	
	display:inline-block;
	position:relative;
	height:1.333em;
	width:1.333em;
	
	cursor: pointer;
	
	border-radius:1.5em;
	background-image:linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	border: 1px solid #cccccc;
	border-bottom-color:#bfbfbf;
	vertical-align:middle;

}

.player .btn-player .step-backward {
	background-size:contain;
	background-repeat:no-repeat;
	display:inline-block;
	width:1.2em;
	height:1.2em;
	position:relative;
	top:.15em;
	left:.08em;
}

.player .control-group {
	position:relative;
	display:inline-block;
	background-color:lightgray;
	border-radius:2em;
	vertical-align:middle;
	border:1px solid darkgray;
	margin:0px 5px 0px 10px;
	padding: 5px 10px;
}

.player .control-group span{
	position:relative;
	display:block;
	line-height:1.2em;
	font-weight:bold;
	font-size:.6em;
	font-family:Verdana, Geneva, sans-serif;
	letter-spacing:.1em;
}

.player .btn-player:hover {
	background-image:linear-gradient(to top, #ffffff 0%,#e5e5e5 100%);
	background-image: -webkit-linear-gradient(bottom, #ffffff 0%,#e5e5e5 100%);
}
.player .btn-player:hover i {
	font-weight:bold;
}

.player .btn-player i {
	position:relative;
	top:.25em;
	font-size:.8em;
}

.player .btn-player-large {
	font-size:3em;
}

.player .btn-player-large i {
	font-size:1em;
	top:.166em;
}

.player .time-display {
	position: absolute;
	display:inline-block;
	font-size:9pt;
	padding:0px;
	margin:0px;
	line-height:9pt;
	top:-12px;
}

.player #elapsed-time {
	left:5px;
}

.player #total-time {
	right:5px;
}
/*
End CSS for player
*/

/*
CSS for timeline
*/

.timeline-holder {
	background-color:lightsteelblue;
    display:inline-block;
	border-radius:0em 0em 1.5em 1.5em;
	padding:0px 10px 10px 10px;
	width:80%;
	border:1px solid black;
	border-top:none;
}

.timeline-overview {
	width:100%px;
	height:15px;
	background-color:darkgray;
	border-bottom:1px black solid;
	margin:auto auto 5px auto;
	position:relative;
	overflow:hidden;
	border:1px solid black;
}

.timeline-overview  .timeline-active {
	position:absolute;
	height:100%;
	width:1em;
	margin-left:-.5em;
	background-color:burlywood;
}

.timeline-overview .timeline-active div {
	width:2px;
	height:100%;
	display:inline-block;
	background-color:rgba(95, 95, 95, 0.67);
	position:absolute;
	left:50%;
	margin-left:-1px;
}

.timeline-window {
	width:100%;
	border:1px black solid;
	margin:auto;
	position:relative;
	overflow:hidden;
	background-color:lightgray;
}

.timeline {
	min-height:40px;
	position:relative;
	background-color:rgb(208, 216, 208);
	margin-left:50%;
	left:0px;
}

.timeline.time-marks {
	position:absolute;
	height:100%;
}

.timeline .time-marks div.grid{
	width:2px;
	height:100%;
	display:inline-block;
	background-color:rgba(95, 95, 95, 0.67);
	position:absolute;
}

.timeline .time-marks div.time-mark {
	display:inline-block;
	position:absolute;
	line-height:10px;
	font-size:10px;
}

.timeline-window .current-time-maker {
	background-color:blue;
	position:absolute;
	width:4px;
	top:0px;
	left:50%;
	margin-left:-2px;
	height:100%;
	display:inline;
	opacity:0.5;
}

/*
End CSS for player
*/

#logItemContainer {
    position: relative;
}
.logItemMarker {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent transparent inherit;
    border-width: 40px 0 0 80px;
}
.logItemMarker:hover {
    border-color: transparent transparent transparent #007bff;
}
.logItemMarker.selected {
    border-color: transparent transparent transparent #007bff;
    z-index: 10;
}
#logItemInfo {
    padding: 5px;
    margin-top: 40px;
    border-top: 2px solid #007bff;
}
.logItemBtn {
    height: 40px;
}