/*
CSS for player
*/

.player {
    text-align:center;
    -webkit-user-select: none;
}

.player #controls {
	background-color:lightsteelblue;
    display:inline-block;
	/*border-radius: 4em 4em 0em 0em;*/
	font-size:20px;
	position:relative;
	padding:5px 2% 0px 2%;
	width:92%;
	border-bottom:none;
	margin-top:10px;
}

.player .btn-player {
	font-size:1.75em;
	
	display:inline-block;
	position:relative;
	height:1.333em;
	width:1.333em;
	
	cursor: pointer;
	
	border-radius:1.5em;
	background-image:linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	border: 1px solid #cccccc;
	border-bottom-color:#bfbfbf;
	vertical-align:middle;

}

.player .btn-player .step-backward {
	background-size:contain;
	background-repeat:no-repeat;
	display:inline-block;
	width:1.2em;
	height:1.2em;
	position:relative;
	top:.15em;
	left:.08em;
}

.player .control-group {
	position:relative;
	display:inline-block;
	background-color:lightgray;
	border-radius:2em;
	vertical-align:middle;
	border:1px solid darkgray;
	margin:0px 5px 0px 10px;
	padding: 5px 10px;
}

.player .control-group span{
	position:relative;
	display:block;
	line-height:1.2em;
	font-weight:bold;
	font-size:.6em;
	font-family:Verdana, Geneva, sans-serif;
	letter-spacing:.1em;
}

.player .btn-player:hover {
	background-image:linear-gradient(to top, #ffffff 0%,#e5e5e5 100%);
	background-image: -webkit-linear-gradient(bottom, #ffffff 0%,#e5e5e5 100%);
}
.player .btn-player:hover i {
	font-weight:bold;
}

.player .btn-player i {
	position:relative;
	top:.25em;
	font-size:.8em;
}

.player .btn-player-large {
	font-size:3em;
}

.player .btn-player-large i {
	font-size:1em;
	top:.166em;
}

.player #elapsed-time {
	left:5px;
}

.player #total-time {
	right:5px;
}
/*
End CSS for player
*/

/*
CSS for timeline
*/

#timeline {
	background-color:lightsteelblue;
    display:inline-block;
	padding:5px 2% 5px 2%;
	width:92%;
	border-top:none;
    position:relative;
}

.timeline-overview {
	width:98%;
	height:15px;
	background-color:darkgray;
	border-bottom:1px black solid;
	margin:auto auto 5px auto;
	position:relative;
	overflow:hidden;
	border:1px solid black;
    cursor:pointer;
}

.timeline-overview  .timeline-active {
	position:absolute;
	height:100%;
	width:1em;
	margin-left:-.5em;
	background-color:burlywood;
}

.timeline-overview .timeline-active div {
	width:2px;
	height:100%;
	display:inline-block;
	background-color:rgba(95, 95, 95, 0.67);
	position:absolute;
	left:50%;
	margin-left:-1px;
}

#timeline .time-display {
    position:absolute;
    top:-18px;
    font-size:10pt;
    display:inline-block;
}

#timeline #start-time {
    left:3%;
}

#timeline #end-time {
    right:3%;
}

.timeline-window {
	width:98%;
	border:1px black solid;
	margin:auto;
	position:relative;
	overflow:hidden;
	background-color:lightgray;
}

.timeline-window .timeline-drag {
    cursor:w-resize;
}

.timeline {
	min-height:70px;
	position:relative;
	background-color:rgb(255, 255, 255);
	margin-left:50%;
	left:0px;
}

.timeline .time-marks {
	position:absolute;
	height:100%;
}

.timeline .time-marks div.grid{
	width:2px;
	height:100%;
	display:inline-block;
	background-color:rgba(95, 95, 95, 0.67);
	position:absolute;
}

.timeline .time-marks div.time-mark {
	display:inline-block;
	position:absolute;
	line-height:10px;
	font-size:10px;
}

.timeline .log-mark {
    display:inline-block;
    position:absolute;
    width:2px;
    height:100%;
    background-color:rgba(118,165,168,.5);
}

.timeline .odd {
    background-color:rgba(42,73,89,.5);
}

.timeline .log-mark .top, .timeline .log-mark .bottom {
    display:inline-block;
    position:absolute;
    width:6px;
    margin-left:-3px;
    height:6px;
    background-color:black;
    border-radius:0px 0px 20px 20px;
}

.timeline .log-mark .bottom {
    border-radius:20px 20px 0px 0px;
    bottom:0px;
}

.timeline-window .current-time-maker {
	background-color:blue;
	position:absolute;
	width:4px;
	top:0px;
	left:50%;
	margin-left:-2px;
	height:100%;
	display:inline;
	opacity:0.5;
}

/*
End CSS for player
*/

#logItemContainer {
    position: relative;
}
.logItemMarker {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent transparent inherit;
    border-width: 40px 0 0 80px;
}
.logItemMarker:hover {
    border-color: transparent transparent transparent #007bff;
}
.logItemMarker.selected {
    border-color: transparent transparent transparent #007bff;
    z-index: 10;
}
#logItemInfo {
    padding: 5px;
    margin-top: 40px;
    border-top: 2px solid #007bff;
}
.logItemBtn {
    height: 40px;
}