<div class="controls">
    <div class="btn btn-large" id="previous-marker"><i class="icon-fast-backward"></i></div>
    <div class="btn btn-large seek-offset" data-offset="-30"><i class="icon-step-backward"></i>30</div>
    <div class="btn btn-large seek-offset" data-offset="-10"><i class="icon-step-backward"></i>10</div>
    <div class="btn btn-large seek-offset" data-offset="-5"><i class="icon-step-backward"></i>5</div>
    <% if(playing) { %>
    <div  id="pause" class="btn btn-large"><i class="icon-pause"></i></div>
    <% } else { %>
    <div id="play" class="btn btn-large"><i class="icon-play"></i></div>
    <% } %>
    <div class="btn btn-large" id="next-marker"><i class="icon-fast-forward"></i></div>
</div>
 
<div class="progress <% if(!playing) { %>progress-striped<% } %>" id="seeker">
    <div class="time-display" id="elapsed-time"><%- _.formatTime( time * 1000 ) %></div>
    <ul class="mark-holder"></ul>
    <div class="bar" style="width:<%- Math.floor(progress) %>%;"></div>
    <div class="handle" style="left:<%- Math.floor(progress) %>%;"></div>
</div>