/*
CSS for player
*/
.player {
    position:relative;
	height: 50%;
	padding:10px;
	top:50px;
    text-align:center;
}

.player .player-controls {
	background-color:lightsteelblue;
    display:inline-block;
    width:auto;
	border-radius: 1.25em;
	font-size:20px;
	position:relative;
	padding:10px;

}

.player .btn-player {
	font-size:1em;
	
	display:inline-block;
	position:relative;
	height:1.333em;
	width:1.333em;
	
	cursor: pointer;
	
	border-radius:1.5em;
	background-image:linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	border: 1px solid #cccccc;
	border-bottom-color:#bfbfbf;

}

.player .control-group {
	position:relative;
	display:inline-block;
	background-color:lightgray;
	padding: 5px 30px 10px 30px;
	border-radius:2em;
	vertical-align:middle;
	border:1px solid darkgray;
}

.player .control-group .btn-player label {
	font-size:.6em;
	top:.35em;
	position:relative;
}

.player .control-group span{
	position:relative;
	display:block;
	line-height:1.2em;
	font-weight:bold;
	font-size:.5em;
}


.player .btn-player:hover {
	background-image:linear-gradient(to top, #ffffff 0%,#e5e5e5 100%);
	background-image: -webkit-linear-gradient(bottom, #ffffff 0%,#e5e5e5 100%);
}
.player .btn-player:hover i {
	font-weight:bold;
}

.player .btn-player i {
	position:relative;
	top:.166em;
	left:.083em;
	font-size:.8em;
}

.player .btn-player-large {
	font-size:3em;
}

.player .btn-player-large i {
	font-size:1em;
}

.player #progress-bar {
	overflow:visible;
	position:relative;
	margin:20px 0px 0px 0px;
	height:3em;
}

.player .handle {
	position:relative;
	background-color:#e5e5e5;
	background-image:linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
	height:24px;
	width:10px;
	border-radius: 10px;
	top:-2px;
	border:solid 1px black;
} 

.player  ul.marks {
	position:relative;
	margin:0px;
	left:-5px;
	top:-3em;
}

.player  ul.marks li {
	display:inline;
	list-style-type:none;
	position:absolute;
	width:1em;
	height:1em;
	border-radius: 0px 0px .5em .5em / 0px 0px 1em 1em;
	top:-.5em;
	border: solid 1px black;
	background-image:linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
	background-image: -webkit-linear-gradient(top, #ffffff 0%,#e5e5e5 100%);
}

.player  ul.marks li div {
	width:1px;
	background-color:black;
	height:2.5em;
	position:absolute;
	left:.45em;
	top:1em;
}


.player .time-display {
	position: absolute;
	display:inline-block;
	font-size:9pt;
	padding:0px;
	margin:0px;
	line-height:9pt;
	top:-12px;
}

.player #elapsed-time {
	left:5px;
}

.player #total-time {
	right:5px;
}

.player ul.tags {
	position:relative;
	margin-top:10px;
	z-index:-1;
}

.player ul.tags li {
	display:inline;
	list-style-type:none;
	position:absolute;
}

.player ul.tags li div{
	position:absolute;
	top:-10px;
	width:1px;
	background-color:black;
	height:10px;
}
/*
End CSS for player
*/

.timeline-wrapper {
	width:400px;
	height:200px;
	border:1px black solid;
	margin:auto;
	position:relative;
	overflow:hidden;
}

.timeline {
	width:1200px;
	height:180px;
	position:relative;
	top:10px;
	background-color:limegreen;
}

.timeline ul.marks {
	top:0px;
}


#logItemContainer {
    position: relative;
}
.logItemMarker {
    position: absolute;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-color: transparent transparent transparent inherit;
    border-width: 40px 0 0 80px;
}
.logItemMarker:hover {
    border-color: transparent transparent transparent #007bff;
}
.logItemMarker.selected {
    border-color: transparent transparent transparent #007bff;
    z-index: 10;
}
#logItemInfo {
    padding: 5px;
    margin-top: 40px;
    border-top: 2px solid #007bff;
}
.logItemBtn {
    height: 40px;
}
