<h1>Choose an interview:</h1>

<a class="menu-item sort-name">Sort | Name</a>
<a class="menu-item sort-date">Sort | Date</a>
<a class="menu-item refresh">Refresh</a>
<% if("chrome" in window){ %>
    <a class="menu-item " href="boilerplate/libs/filerjs/demos/filer.html">
        Add Interivews
    </a>
<% } %>
<div style="clear:both;"></div>

<% if(status.error){ %>
    <div class="alert alert-error">
        <h4>Error!</h4>
        <%- status.error %>
    </div>
<% } %>

<% if(status.installing){ %>
    <div class="alert alert-info">
        <p>Installing example interview...</p>
    </div>
<% } %>

<% if(status.interviewsToFetch > 0){ %>
    <div class="alert alert-info">
        <p>Fetching interviews... (<%- status.interviewsToFetch %> remaining)</p>
    </div>
<% } %>

<% if(interviews.length === 0){ %>
    <p>No entries found</p>
    <a class="install-example btn">Install example interview</a>
<% } %>

<ul class="navlist">
<%
_.each(interviews, function(interview){ 
%>
    <li>
        <h2><%- interview.name %></h2>
        <% if(!interview.converting && !interview.error){ %>
            <a href="boilerplate/interview.html?interview=<%- interview.name %>/" class="btn open">
                Open
            </a>
        <% } %>
        <p>
            <strong>Last Modified:</strong><br />
            <%- interview.modificationTime %>
        </p>
        <% if(interview.converting){ %>
            <div class="alert alert-info">
                <p>Converting xlsx...</p>
            </div>
        <% } %>
        <% if(interview.error){ %>
            <div class="alert alert-error">
                <p><%- interview.error %></p>
            </div>
        <% } %>
    </li>
<%
});
%>
</ul>