<div class="navbar navbar-always-fixed">
    <div class="navbar-inner">
        <a class="brand"  style="margin-left:auto;">Free Speech Interviews</a>
    </div>
</div>
<div class="nav-spacer"></div>
<div class="container">
    <% if(status.error){ %>
    <div class="alert alert-error">
        <strong>Error: </strong><%- status.error %>
    </div>
    <% } %>
    <% if(status.installing){ %>
        <div class="alert alert-info">
            <p>Installing example interview...</p>
        </div>
    <% } %>
    <% if(status.interviewsToFetch > 0){ %>
        <div class="alert alert-info">
            <p>Fetching interviews... (<%- status.interviewsToFetch %> remaining)</p>
        </div>
    <% } %>
    
    

    <p class="list_sort_text">Sort By: </p>
    <div class="btn-group" style="float:left;">
        <button class="btn btn-small sort-name">Name</button>
        <button class="btn btn-small sort-date">Date</button>
    </div>
    <button class="btn btn-small refresh" style="float:right;">Refresh</button>
    <div style="clear:both;"></div>
    <% if(interviews.length === 0){ %>
        <p>No entries found</p>
        <a class="install-example btn">Install example interview</a>
    <% } %>
    <table class="table table-bordered table-striped">
        <%
        _.each(interviews, function(interview){ 
        %>
        <tr><td >
            <p class="lead list_ele_heading"><%- interview.name %></p>
            <div class="list_detail_ele">
                    <div class="list_detail_title">Last Modified:</div>
                    <div class="list_detail_value"><%- interview.modificationTime.toISOString().replace('T',' at ').slice(0,-8) %></div>
                </div>
                <div class="list_detail_ele"></div>
            </div>
            <% if(interview.converting){ %>
                <div class="alert alert-info">
                    <p>Converting xlsx...</p>
                </div>
            <% } %>
            <% if(interview.error){ %>
                <div class="alert alert-error">
                    <p><%- interview.error %></p>
                </div>
            <% } %>
            <p class="list_ele_btn_pnl">
                <% if(!interview.converting && !interview.error){ %>
                    <a href="boilerplate/interview.html?interview=<%- interview.name %>/#beginSession" class="btn list_ele_btn btn-success">Start</a>
                    <a href="boilerplate/interview.html?interview=<%- interview.name %>/#" class="btn list_ele_btn">Interview Details</a>
                <% } %>
            </p>
        </td></tr>
        <%
        });
        %>
    </table>
    <% if(!("cordova" in window)){ %>
    <center>
    <a href="boilerplate/libs/filerjs/demos/filer.html" class="btn">
        Add Interview
    </a>
    </center>
    <% } %>
</div>
