<div class="logItemBody">
    <button class="logItemBtn playhere">Play from here</button>
    <button class="logItemBtn showpage">Show Page</button>
    <dl class="dl-horizontal">
        <dt>page:</dt>
        <dd>
            <a href="explorer.html#filter?page=<%= page %>"><%= page %></a>
        </dd>
        <!-- 
        <dt>session:</dt>
        <dd>
            <%= _sessionId %>
        </dd>
        -->
        <dt>duration:</dt>
        <dd>
            <%= _duration %>
        </dd>
    </dl>
</div>
