<div class="logItemBody">
    <p>
        <button class="logItemBtn playhere">Play from here</button>
        <button class="logItemBtn" disabled="disabled">Repeat this clip</button>
    </p>
    <p>
        <a href="explorer.html#filter?page=<%= page %>">
            Show all responces to this page.
        </a>
    </p>
    <dl class="dl-horizontal">
        <dt>page:</dt>
        <dd>
            <a href="explorer.html#filter?page=<%= page %>"><%= page %></a>
        </dd>
        <!-- 
        <dt>session:</dt>
        <dd>
            <%= _sessionId %>
        </dd>
        -->
        <dt>duration:</dt>
        <dd>
            <%= _duration %>
        </dd>
    </dl>
</div>
