.controls {
    border-bottom: 4px dashed lightgray;
    margin-bottom: 5px;
}
.control {
    margin-top: 5px;
    margin-left: 0; 
    display: inline-block;
}
#start {
    margin-right: 4px;
}
#time {
    width: 100px;
    display: inline-block;
}
#time-container {
    margin-top: 5px;
}
/* Hacks below here: */
.alert {
    margin-bottom:0;
}
#alert-area {

}
#container {
}
.btn-block {
    padding-left: 5px;
    padding-right: 5px;
}
.hero-unit {
    margin-top: 1em;
}
@media screen and (min-width: 799px) {
    .hero-unit {
        margin-top: 3em;
    }
}


.nav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
/* Track session in url so this isn't permanent 
.nav-tabs a:visited {
    color: rgb(225, 221, 255);
}
.nav-tabs > .active > a {
    color: #ffffff;
    background-color: #0088cc;
}
.nav-tabs > .active > a:hover {
    color: #ffffff;
    background-color: #0088cc;
}

/*
Animation for tags
*/
@-webkit-keyframes fadeIn {
  from {
    opacity: .2;
  }
  to {
    opacity:  1.0;
  }
}
.add-tag-disabled {
    opacity: .2;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: fadeIn;
}
.add-tag-disabled:hover {
    background-color: white !important;
}

/*
Animation for undo button

@-webkit-keyframes fadeOut {
  from {
    opacity: 1.0;
    top: 0;
  }
  80% {
    opacity: 1.0;
    top: 0; 
  }
  to {
    opacity: 0;
    top: -30px;
  }
}
.fade-out {
    position: relative;
    top: -30px;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: fadeOut;
}
*/
