.controls {
    border-bottom: 4px dashed lightgray;
    margin-bottom: 5px;
}
.control {
    margin-top: 5px;
    margin-left: 0; 
    display: inline-block;
}
#start {
    margin-right: 4px;
}
/* Hacks below here: */
.alert {
    margin-bottom:0;
}
#alert-area {

}
#container {
}
.btn-block {
    padding-left: 5px;
    padding-right: 5px;
}
.hero-unit {
    margin-top: 1em;
}
@media screen and (min-width: 799px) {
    .hero-unit {
        margin-top: 3em;
    }
}


.nav .icon-chevron-right {
    float: right;
    margin-top: 2px;
    margin-right: -6px;
    opacity: .25;
}
/* Track session in url so this isn't permanent 
.nav-tabs a:visited {
    color: rgb(225, 221, 255);
}
.nav-tabs > .active > a {
    color: #ffffff;
    background-color: #0088cc;
}
.nav-tabs > .active > a:hover {
    color: #ffffff;
    background-color: #0088cc;
}

/*
Animation for tags
*/
@-webkit-keyframes fadeIn {
  from {
    opacity: .2;
  }
  to {
    opacity:  1.0;
  }
}
.add-tag-disabled {
    opacity: .2;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-name: fadeIn;
}
.add-tag-disabled:hover {
    background-color: white !important;
}

.btn {
    /*
    This is to disable accidental highlighting of button text.
    */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/*
This is a replacement for the bootstrap navbar-fixed-top
without the responsive stuff that unfixes  it on small screens
*/
.navbar-always-fixed {
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin-bottom: 0;
}
.navbar-always-fixed .navbar-inner {
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
    padding-right: 0;
    padding-left: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-width: 0 0 1px;
}
.nav-spacer {
    height: 60px;
}